div.container{
	width: 600px;
	min-height: 500px;
	margin: 50px auto 0;
	-webkit-perspective:800px;
}

div.slider{
	position:relative;
	width: 200px;
	min-height: 150px;
}

menu li{
	width: 20px;
	height: 10px;
	border-radius: 3px;
	background-color: #333;
	float: left;
	margin-left: 10px;
}

menu li:hover{
	background-color: darkcyan;
	border-radius: 6px;
}

div.frame{
	position: absolute;
	line-height: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	-webkit-transform-style: preserve-3d;
}

div.frame1{
	width: 200px;
	min-height: 150px;
	-webkit-transform: rotateY(0deg) translateZ(320px);
}

div.frame2{ 
	min-height: 150px;
	-webkit-transform: rotateY(45deg) translateZ(320px);
}

div.frame3{
	width: 200px;
	min-height: 150px;
	-webkit-transform: rotateY(90deg) translateZ(320px);
}

div.frame div.frontface,
div.frame div.backface{
	width: inherit;
	min-height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	-webkit-transition:all 2s;
	-webkit-backface-visibility:hidden;
}

div.frame div.frontface{
	background-color: darkmagenta;
	color: white;
}

div.frame div.backface{
	background-color: darkred;
	color: black;
	-webkit-transform:rotateX(180deg);
}

div.frame:hover div.frontface{
	-webkit-transform:rotateX(-180deg);
}

div.frame:hover div.backface{
	-webkit-transform:rotate(0deg);
}